---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: https://github.com/sahebansari/TerraPDF/security/advisories/new
Contact: mailto:{{ site.securityEmail }}
Expires: 2027-07-15T00:00:00.000Z
Preferred-Languages: en
Canonical: https://terrapdf.com/.well-known/security.txt
Policy: https://terrapdf.com/security/
